body {  
    width: 40%;
    position: relative;
    background-color: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border:white;
}
    body > div > h2 {
        
        text-align: center;
        color: #357D23
    }
    body > div > h3 {
        background-color: #F6F6A1;
        text-align: center;
    }
    body > div > hr {
        background-color: blue;
        width: 90%;
        height :2px;
        
    }
    body > div > form {
        background-color: #F6F6A1;
        margin: 10px;
        text-align: left;
    }


#submitbutton {
    background-color: #7EBA70;
    color: #F6F6A1;
    margin: 10px;
    border: #92E37F;
    height: 25px;
    width: 130px;
    border-radius: 9px;
}

#hrhr{
    color:blue;
}

#head {
    background-color: #F6F6A1;
    text-align:center;

}
#Address{
    height:60px;
    margin:2px;
}
#tb{
    margin:25px;
}
